<% if @project.errors.any? %>
  <div id="error_explanation">
    <p style="color:red">
      <%= pluralize(@project.errors.count, "error") %>
      prohibited this comment from being saved:
    </p>

    <ul>
    <% @project.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
