<div class="container">
  <p style="color:red">Category Show Page</p>
</div>

<div class="container">
  <%= @category.name %>:
</div>

<div class="container">
  <% @category.projects.each do |project| %>
   | <%= link_to project.title, project_path(project) %>
  <% end %>
</div>
