<!-- signin/signup if user is not logged in-->
<% if session[:user_id].present? %>
  <li class="nav-item"><%= link_to 'Sign out |', session_logout_path, method: 'DELETE', class: 'nav-link' %></li>
  <li class="nav-item"><%= link_to 'Contribute your project to DYI |', new_project_path, class: 'nav-link' %></li>
<% else %>
  <li class="nav-item"><%= link_to 'Sign up |', new_user_path, class: 'nav-link' %></li>
  <li class="nav-item"><%= link_to 'Sign in |', session_login_path, class: 'nav-link' %></li>
<% end %>
